body {
    background-color: rgb(35, 35, 35);
    color: rgb(247, 147, 30);
    width: 300px;
}

.container {
    display: flex;
    justify-content: center; /* Центрирует объекты по горизонтали */
    align-items: center; /* Центрирует объекты по вертикали */
    margin-bottom: 10px; /* Добавляет отступ между контейнерами */
}

#urlList {
    width: 300px;
}

#archive {
    width: 150px;
}

button {
    background-color: rgb(45,45,45);
    color: rgb(247, 147, 30);
}

button:hover {
    background-color: rgb(65,65,65);
}

select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #dee2e6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: rgb(45,45,45);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid rgb(247, 147, 30);
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
    padding: 10px;
    margin: 0;
    font-size: 0;
}

button {
    list-style-type: none;
    background: rgb(45,45,45);
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    margin: 0 10px 12px 0;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
}

.color_tabs {
    background-color: rgb(45, 45, 45);
}

.color_text {
    color: rgb(247, 147, 30);
}

.add_nav {
    --bs-nav-link-color: rgb(247, 147, 30);
    --bs-nav-link-hover-color: rgb(125, 58, 6);
    --bs-nav-link-disabled-color: rgb(247, 147, 30);
}

.add_nav-tabs {
    --bs-nav-tabs-border-color: rgb(247, 147, 30);
    --bs-nav-tabs-border-radius: rgb(247, 147, 30);
    --bs-nav-tabs-link-active-color: rgb(247, 147, 30);
    --bs-nav-tabs-link-active-bg: rgb(45,45,45);
    --bs-nav-tabs-link-active-border-color: rgb(247, 147, 30);
    --bs-nav-tabs-link-hover-border-color: rgb(247, 147, 30);
}

.height_body {
    height: auto;
}
